@media (min-width: 1040px) {
    .main_page {
        margin: auto;
        width: 1000px;
    }

    #msg {
        left: 30vw;
        padding: 20px;
        width: 30vw;
    }

    .tmp_img {
        width: initial;
    }
}

@media all and (display-mode: fullscreen) {

    body,
    html,
    #app {
        background-color: #157fcc;
    }

    #app * {
        display: none;
    }

    #app::before {
        position: absolute;
        top: 10%;
        left: 10%;
        content: ':(';
        color: #fff;
        font-size: 25.0vh;
    }

    #app::after {
        position: absolute;
        bottom: 40%;
        left: 0;
        padding: 0 20vh;
        content: 'A számítógépe olyan problémába ütközött, amelyet nem tudott kezelni és most újra kell indítani.';
        color: #fff;
        font-size: 2.0vh;
    }

    body::after {
        position: absolute;
        bottom: 30%;
        left: 0;
        padding: 0 20vh;
        content: 'Vagy csak nyomd meg az F11-et :)';
        color: #fff;
        font-size: 1.5vh;
    }


}